
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-align: center;
}

h1 {
  margin-top: 60px;

}

button {
  background-color: blue;
  padding: 10px 30px;
  margin: 20px;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 15px;
}
button:hover {
  border: 2px solid blue;
  background-color: transparent;
  color: blue;
  transition: 0.5s;
}